body{
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  background-color: lightblue;
}
#navbar ul{
  list-style-type: none;
  height: 50px;
}

#navbar li{
  list-style-type: none;
  display: inline;
}
